html {
   scroll-behavior: smooth;
}
html,
body {
   height: 100%;
}

* {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}
ul,
li {
   list-style: none;
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   align-items: center;

   margin: 0 auto;
}

.main__container {
   background-color: #f5f5eb;
   padding: 4vw 10vw 4vw 10vw;
   border-radius: 2vw;
   margin-top: 1vw;
   margin-bottom: 1vw;
   box-shadow: 0 2vw 2vw rgba(0, 0, 0, 0.2), 0 2vw 3vw rgba(0, 0, 0, 0.3);
}

h1 {
   font-size: 2vw;
   font-weight: 800;
}
h2 {
   font-size: 1.5vw;
}

/* .cross {
   height: 1vw;
   width: 1vw;
   background-size: 1vw 1vw;
   background-image: url("./assets/svg/cross.png");
   display: none;
} */
.plus {
   height: 1vw;
   width: 1vw;
   background-size: 1vw 1vw;
   background-image: url("./assets/png/plus.png");
   display: none;
   /* transform: rotate(135deg); */
}

.menu__item {
   display: flex;
   flex-direction: column;
   width: 30vw;
   border-top: 0.1vw solid grey;
   padding: 1vw 0 0 0;
   margin: 1vw 0 1vw 0;
   cursor: pointer;
}
.main__container label {
   /* cursor: pointer; */
   width: 100%;
   color: #1164a7;
   box-sizing: border-box;
   z-index: 100;
   transition: color 0.35s;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.main__container input {
   display: none;
}

.image {
   align-self: center;
   /* width: 25vw; */
   border-radius: 1vw;
   height: 0;
   width: 0;
   /* transform: scale(0); */
   opacity: 0;
   /* margin: 1vw 0 1vw 0; */
   transition: all 1s ease;

   box-sizing: border-box;

   box-shadow: 0 0.5vw 0.5vw rgba(0, 0, 0, 0.2), 0 1vw 1vw rgba(0, 0, 0, 0.3);

   /* cursor: pointer; */
}

/* !checked */

.main__container input:checked + label + .image {
   /* margin-bottom: 0.5vw; */
   color: #000;

   opacity: 100%;
   /* transform: scale(1); */
   margin: 1vw 0 0 0;

   height: 25vw;
   width: 25vw;
}

.main__container input:checked + label {
   color: #000;
}

.main__container input:checked + label .plus {
   transform: rotate(45deg);
   transition: transform 0.5s ease;
}

/* ! hover */

.main__container label:hover {
   color: black;
   cursor: pointer;
}

.main__container label:hover + .image {
   /* margin-bottom: 0.5vw; */
   color: #000;
   cursor: pointer;
   opacity: 100%;
   height: 25vw;
   width: 25vw;
   margin: 1vw 0 0 0;
}
.menu__bayan:hover .plus {
   display: block;
}

.menu__bayan:hover label {
   color: #000;
}

/* ! медиа */

@media (max-width: 1180px) {
   /* ! убираем hover */
   .menu__bayan:hover label {
      cursor: default;
      color: #1164a7;
   }
   .main__container label:hover + .image {
      margin: 0;
      height: 0;
      width: 0;
      /* transform: scale(0); */
      opacity: 0;
   }
   .menu__item:hover {
      cursor: default;
   }

   /* ! */

   h1 {
      font-size: 3vw;
   }
   h2 {
      font-size: 2vw;
   }
   .plus {
      height: 2vw;
      width: 2vw;
      background-size: 2vw 2vw;
      display: block;
   }
   .main__container {
      padding: 3vw 4vw 3vw 4vw;
   }
   .menu__item {
      width: 70vw;
      padding: 2vw 0 0 0;
      margin: 2vw 0 2vw 0;
   }
   /* .main__container label:hover + .image {
      height: 40vw;
      width: 40vw;
      margin: 2vw 0 0 0;
   } */

   .main__container input:checked + label + .image {
      height: 40vw;
      width: 40vw;
      margin: 2vw 0 0 0;
   }
}

@media (max-width: 844px) {
   h1 {
      font-size: 3.5vw;
   }
   h2 {
      font-size: 2.5vw;
   }
   .plus {
      height: 2vw;
      width: 2vw;
      background-size: 2vw 2vw;
      display: block;
   }
   .main__container {
      padding: 2vw 3vw 2vw 3vw;
   }
   .menu__item {
      width: 70vw;
      padding: 2vw 0 0 0;
      margin: 1vw 0 1vw 0;
   }
   /* .main__container label:hover + .image {
      height: 25vw;
      width: 25vw;
      margin: 1vw 0 0 0;
   } */
   .main__container input:checked + label + .image {
      height: 25vw;
      width: 25vw;
      margin: 1vw 0 0 0;
   }
}

@media (max-width: 820px) {
   h1 {
      font-size: 5vw;
   }
   h2 {
      font-size: 4vw;
   }
   .plus {
      height: 3vw;
      width: 3vw;
      background-size: 3vw 3vw;
      display: block;
   }
   .main__container {
      padding: 3vw 4vw 3vw 4vw;
   }
   .menu__item {
      width: 70vw;
      padding: 3vw 0 0 0;
      margin: 3vw 0 3vw 0;
   }
   /* .main__container label:hover + .image {
      height: 50vw;
      width: 50vw;
      margin: 2vw 0 0 0;
   } */
   .main__container input:checked + label + .image {
      height: 50vw;
      width: 50vw;
      margin: 2vw 0 0 0;
   }
}

@media (max-width: 568px) {
   h1 {
      font-size: 3.5vw;
   }
   h2 {
      font-size: 2.5vw;
   }
   .plus {
      height: 2vw;
      width: 2vw;
      background-size: 2vw 2vw;
      display: block;
   }
   .main__container {
      padding: 1.5vw 2.5vw 1.5vw 2.5vw;
   }
   .menu__item {
      width: 80vw;
      padding: 1vw 0 0 0;
      margin: 1vw 0 1vw 0;
   }
   /* .main__container label:hover + .image {
      height: 35vw;
      width: 35vw;
      margin: 2vw 0 0 0;
   } */
   .main__container input:checked + label + .image {
      height: 35vw;
      width: 35vw;
      margin: 2vw 0 0 0;
   }
}

@media (max-width: 390px) {
   h1 {
      font-size: 5.5vw;
   }
   h2 {
      font-size: 4.5vw;
   }
   /* .image {
      margin: 2vw 0 2vw 0;
   } */
   .plus {
      height: 3vw;
      width: 3vw;
      background-size: 3vw 3vw;
      display: block;
   }
   .main__container {
      margin-top: 10vw;
      padding: 2vw 3vw 2vw 3vw;
   }
   .menu__item {
      width: 80vw;
      padding: 2vw 0 0 0;
      margin: 2vw 0 2vw 0;
   }
   /* .main__container label:hover + .image {
      height: 60vw;
      width: 60vw;
      margin: 2vw 0 0 0;
   } */
   .main__container input:checked + label + .image {
      height: 60vw;
      width: 60vw;
      margin: 2vw 0 0 0;
   }
}
